<% layout('./column/1-column') -%>
<div class="panel-body">
  <% if(author && typeof author._id!='undefined'){ %>
  <div class="row">
    <br />
    <div class="col-md-2 col-sm-3 text-center">
      <a class="story-title" href="#"
        ><img
          alt=""
          src="/<%=author.imageLink%>"
          style="width:100px;height:100px"
          class="img-circle"
      /></a>
    </div>
    <div class="col-md-10 col-sm-9">
      <h3><%=author.author%></h3>
      <div class="row">
        <div class="col-xs-9">
          <h4>
            <span class="label label-default"><%=author.country%></span>
          </h4>
          <h4>
            <span class="label label-default"><%=author.language%></span>
          </h4>
          <h4>
            <span class="label label-default"
              ><a href="<%=author.link%>"
                >Click here to go to official page</a
              ></span
            >
          </h4>
          <h4>
            <span class="label label-default"
              >book have <%=author.pages%> pages</span
            >
          </h4>
          <h4>
            <span class="label label-default">Book: <%=author.title%></span>
          </h4>
          <h4>
            <span class="label label-default">Edition: <%=author.year%></span>
          </h4>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
  <hr />
  <% }else{ %>
  <div class="row">
    <br />
    <div class="col-md-10 col-sm-9">
      <h3>author not found</h3>
      <div class="row">
        <div class="col-xs-9">Link is broken.</div>
      </div>
      <br /><br />
    </div>
  </div>
  <hr />
  <% } %>

  <a href="/" class="btn btn-primary pull-right btnNext"
    >More <i class="glyphicon glyphicon-chevron-right"></i
  ></a>
</div>
