<% layout('./column/1-column') -%>
<div class="panel-body">
  <% if(book && typeof book.id!='undefined'){ %>
  <div class="row">
    <br />
    <div class="col-md-2 col-sm-3 text-center">
      <a class="story-title" href="#"
        ><img
          alt=""
          src="<%=book.img%>"
          style="width:100px;height:100px"
          class="img-circle"
      /></a>
    </div>
    <div class="col-md-10 col-sm-9">
      <h3><%=book.title%></h3>
      <div class="row">
        <div class="col-xs-9">
          <h4>
            <span class="label label-default"><%=book.author%></span>
          </h4>
          <h4>
            <span class="label label-default"><%=book.genre%></span>
          </h4>
        </div>
        <div class="col-xs-9"><%=book.discription %></div>
      </div>
      <br /><br />
    </div>
  </div>
  <hr />
  <% }else{ %>
  <div class="row">
    <br />
    <div class="col-md-10 col-sm-9">
      <h3>book not found</h3>
      <div class="row">
        <div class="col-xs-9">Link is broken.</div>
      </div>
      <br /><br />
    </div>
  </div>
  <hr />
  <% } %>

  <a href="/" class="btn btn-primary pull-right btnNext"
    >More <i class="glyphicon glyphicon-chevron-right"></i
  ></a>
</div>
